// =========== Typography.
$ff-main: 'Spartan', sans-serif;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;



// =========== Colors.
$white: #ffffff;
$black: #000000;
$dark-gray: #a1a1a1;
$very-dark-gray: #454545;